include setup.py MANIFEST.in
include doc/README.txt doc/LICENSE ChangeLog
include Makefile setuptools.mk
include gracie/module.mk
include test/module.mk
recursive-include bin *
recursive-include doc *
