include setup.py MANIFEST.in
include doc/README.txt ChangeLog
include LICENSE.GPL-2
include Makefile setuptools.mk
include gracie/module.mk
include test/module.mk
recursive-include bin *
recursive-include doc *
